@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

* {
    font-family: 'Dosis', sans-serif;
    font-size: 1.15rem;
}

.nav-container {
    margin: auto;
    width: 75%;
    display: flex;
    flex-direction: row;
}

.error_message {
    color: crimson; 
    font-style:italic; 
    padding:10px;
}

.header-button {
    border-radius: .25rem;
    font-size: 1.2rem;
    border: none; 
    margin-top: 1.5%;
    max-width: 100%;
    padding: 0.3rem 0.8rem 0.35rem 0.8rem;
}

.btn-green {
    background-color: #0CAC64;
    color: white;
    transition: background-color .15s ease-in-out;
}

.btn-green:hover {
    background-color: #0DBF6F;
    transition: background-color .15s ease-in-out;
}

@media only screen and (max-width: 600px) {
    .nav-container {
        margin-right: auto;
        margin-left: auto;
    }
  }